extends templates/default
link(rel='stylesheet', href='/stylesheets/home.css')

block content
  
  div(class='col-md-6 col-md-offset-3')


    if message.length > 0
      -if(message[0] =="successful")
        script(src='../javascripts/correcto.js')
      -if(message[0] =="DidNotMatch")
        script(src='../javascripts/noCoincide.js')
      -if(message[0] =="duplicity")
        script(src='../javascripts/doble.js')

      
        //div(class='alert sweetalert-success' role='alert')= message
          
        //- if message1.length > 0
        //-   script(src='../javascripts/correcto.js')
        //-   //div(class='alert sweetalert-success' role='alert')= message
          
        //- if message2.length > 0
        //-   script(src='../javascripts/correcto.js')
        //-   //div(class='alert sweetalert-success' role='alert')= message
      
    if authmessage.length > 0
      script(src='../javascripts/error.js')
      //div(class='alert alert-danger' role='alert')= authmessage   
  
  section#about
    .container
      .row
        .col-md-8.col-md-offset-2
          h2.title.text-center CUMBRE 1000 EMPRESAS MÁS IMPORTANTES !
          hr.light
          p
            | Grupo Mundo Ejecutivo comparte con usted la realización de la 3ª CUMBRE DE 
            |LAS 1000 EMPRESAS MÁS IMPORTANTES DE MÉXICO. El evento es privado y por 
            |invitación para los Presidentes y Directores generales del ranking económico 
            |más relevante de nuestro país, ya que las empresas listadas representan el 
            |65% del PIB, y sus activos sumados alcanzan 30 billones 3444 mil millones de 
            |dólares. Al evento asisten representantes de los 14 sectores económicos 
            |estratégicos que generan el 40% de las remuneraciones totales del sector 
            |laboral formal de México.
          
  div
    script(type='text/javascript').
      sas_pageid='72934/547498'; // Página : mundoejecutivo-com-mx/economia
      sas_formatid=23318; // Formato : Megaleader 0x0
      sas_target=''; // Segmentación
      SmartAdServer(sas_pageid,sas_formatid,sas_target);
    script(src='http://www5.smartadserver.com/call/pubj/72934/547498/23318/M/6894161068/?')
    #sas_23318(style='height: 80px;')
      #sas-banner1_7117369(style='visibility: hidden;')
        a(href='http://www5.smartadserver.com/click?imgid=19819691&insid=7117369&pgid=547498&uid=3888995792959553564&tgt=%24dt%3d1t%3b%3b%24hc&systgt=%24qc%3d1307016231%3b%24ql%3dmedium%3b%24qpc%3d01000%3b%24qpp%3d0%3b%24qt%3d47_1472_3249t%3b%24dma%3d0%3b%24b%3d16610%3b%24o%3d11100%3b%24sw%3d1280%3b%24sh%3d768&pgDomain=http%3a%2f%2fmundoejecutivo.com.mx%2f&go=https%3a%2f%2fhubs.ly%2fH08Dnvn0', target='_blank')
          img#img_9344(src='http://ced.sascdn.com/diff/1028/7117369/te-1024-120.png', width='1024', border='0', height='120', alt='')
        #sas-expandButton_7117369.sas-expandButton_top-right.sas-expandButton_inner-creative
          img#sas-defaultExpandButton_7117369(src='http://ced-ns.sascdn.com/diff/templates/images/expand_54x54.png')
              
    script#script-793812-1(type='text/javascript', src='http://ced-ns.sascdn.com/diff/templates/js/sas/sas-cookie.js')
    script(type='text/javascript').
      (function() { sas.utils._callbacks['script-793812-1'](); })();
    script#script-793812-2(type='text/javascript', src='http://ced-ns.sascdn.com/diff/templates/js/expand-two-creatives/sas-expand-1.9.js')
    script(type='text/javascript').
      (function() { sas.utils._callbacks['script-793812-2'](); })();
        
  include templates/tails
  include templates/video
  include templates/tails1
    //include templates/backVid


    
  include templates/carousel
  

    
                        


                  

