link(rel='stylesheet', href='/stylesheets/tails1.css')
section#portfolio
  .container
    .tiles
      .tile-row
        a.lg-tile.tile.bg-def(href="http://onlysantafe.com.mx/",target="_blank")
          br
          br
          img.img-responsive(src="../images/only_logo_300.png" width='450', height='120')
          .tile-caption
            header
              | Only
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        a.sm-tile.tile.bg-def(href="http://habitatmag.com.mx/",target="_blank")
          br
          img.img-responsive(src="../images/habitat_logo_300.png")
          .tile-caption
            header
              | Hábitat
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        .sm-tile.tile.bg-def(href="http://mundoejecutivo.com.mx/mujer-ejecutiva",target="_blank")
          img.img-responsive(src="../images/mujer_ejecutiva_logo_300_01.png")
          .tile-caption
            header
              | Mujer Ejecutiva
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        .md-tile.tile.bg-def(href="http://mundoejecutivo.com.mx/first-class",target="_blank")
          img.img-responsive(src="../images/first_class_logo_300.png" width='240px', height='120')
          .tile-caption
            header
              | first class
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        a.sm-tile.tile.bg-def(href="http://mundoejecutivo.com.mx/publicaciones/colonos",target="_blank")
          br
          img.img-responsive(src="../images/colonos_logo_300.png" width='340px', height='120')
          .tile-caption
            header
              | Colonos
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        a.sm-tile.tile.bg-def(href="http://mundoejecutivo.com.mx/videos/all",target="_blank")
          br
          img.img-responsive(src="../images/mee_tv_logo_300.png" width='240px', height='120')
          .tile-caption
            header
              | videos
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |         más información.  
        a.md-tile.tile.bg-def(href="http://mundoejecutivo.com.mx/family-business",target="_blank")
          img.img-responsive(src="../images/family_business_logo_300.png" width='240px', height='120')
          .tile-caption
            header
              | family business
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |          más información.