link(rel='stylesheet', href='/stylesheets/tails1.css')
section#portfolio
  .container
    .tiles
      .tile-row
        .lg-tile.tile.bg-red
          .tile-caption
            header
              | Gráfico de Trabajo
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        a.sm-tile.tile.bg-orange(href='/users/jobGraph')
          .tile-caption
            header
              | Gáfico 2
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           Sectores.
        .sm-tile.tile.bg-light-blue
          .tile-caption
            header
              | Mundo Ejecutivo
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        .md-tile.tile.bg-blue
          .tile-caption
            header
              | Mundo Ejecutivo
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           más información.
        a.sm-tile.tile.bg-image(href='../users/sectorGraph')
          .tile-caption
            header
              | Gráfico de Sectores
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |          
        a.sm-tile.tile.bg-light-blue(href='../users/incomeGraph')
          .tile-caption
            header
              | Gráfico de Ingresos
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |          
        a.md-tile.tile.bg-red(href='../users/showTable')
          .tile-caption
            header
              | Mundo Ejecutivo
              span.glyphicon.glyphicon-collapse-up.tile-arrow-up
            |           las 1000 Empresas
