
link(rel='stylesheet', href='/stylesheets/tile.css')
section#tails
	h2.title.text-center Mosaicos
	hr
	div(align='center')
		br
		a.tile(href='../users/showTable') Rankings		
		a.tile(href='../users/jobGraph') Gráfico de Trabajo
		a.tile(href='../users/incomeGraph') Gráfico de Ingresos
		a.tile(href='../users/sectorGraph') Gráfico de Sectores

			


					