extends ../templates/default
include ../templates/nav

block content
    
    section#about
        .container
            .row
                .col-md-8.col-md-offset-2
                    h2.title.text-center Gráfica 
                    br
                    hr.light
    .container
        p 
        p
        div(class='col-md-12 col-md-offset-5')
            #bot(onclick="location.href='/users/panel'", ) Regresar
        br
    .container
       
    section#grafic    
        div(class='col-md-12 col-md-offset-4')  
            h1  Ranking de Trabajo
            br
            br
        script(src='../javascripts/grafic1.js')
        #container
        br
        div(class='col-md-6 col-md-offset-3')
            div(class='table-responsive' )
                table#datatable.table.table-striped.table-bordered 
                    thead
                        tr
                            th(style="text-align: center;") Empresa 
                            th(style="text-align: center;") Empleo 2013
                            th(style="text-align: center;") Empleo 2014
                    tbody
                        each item, i in items
                            tr
                                td= item.Nombre
                                td= item.Empleo_2013
                                td= item.Empleo_2014
        div(class='col-md-3 ')
            #bot(onclick='location.reload();')="\n\n Graficar" 
    
                            
    br
    br
    
     

   
    script(src='../javascripts/table.js')            